* {
    font-family: sans-serif
}

.custom {
    max-width: 600px;
    width: 100%;
    margin: 0 auto!important;
    background: #efeae6
}

.custom * {
    margin: 0!important;
    padding: 0!important;
    box-sizing: border-box
}

.custom__wrapper {
    padding-top: 40px!important;
    padding-bottom: 100px!important
}

.custom__title {
    color: #000;
    font-size: 20px!important;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center!important;
    margin-bottom: 60px!important
}

.custom__title p {
    max-width: 500px;
    text-align: center!important
}

.custom__items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 180px
}

.custom__item {
    width: 110px;
    height: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 36px!important;
    font-weight: 600
}

.custom__item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transition: .2s
}

.custom__item::before {
    background-image: url(../images/mirror.png)
}

.custom__item.open {
    width: 110px;
    height: 110px;
    background: radial-gradient( 50% 50% at 50% 50%,#fff 65.63%,rgba(255,255,255,0) 100% )
}

.custom__item.open::before {
    opacity: 0;
    z-index: -1
}

.custom__item.win {
    transition: .5s;
    transform: scale(1.3)
}

.custom__form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto!important;
    background: url(../images/back-form.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: #fff
}

.custom__wrapper-form {
    padding-top: 45px!important;
    padding-bottom: 55px!important;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.spin-result-wrapper {
    display: none;
    padding: 0 10px!important;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    z-index: 999;
    left: 0;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.6);
    text-align: center!important
}

.pop-up-window {
    position: absolute;
    max-width: 400px;
    width: 85%;
    margin: 0 auto!important;
    background: #fff none repeat scroll 0% 0%;
    text-align: center!important;
    padding: 10px!important;
    padding-top: 70px!important;
    padding-bottom: 20px!important;
    border-radius: 10px;
    animation: .7s ease 0s normal none 1 running pop-up-appear;
    right: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}

.close-popup {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../fonts/cross.svg);
    background-size: 100%;
    top: -40px;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff;
    right: -40px;
    cursor: pointer
}

.pop-up-heading {
    font-size: 40px!important;
    margin-bottom: 20px!important
}

.pop-up-text {
    margin-bottom: 25px!important;
    font-size: 24px!important;
    line-height: 30px;
    text-align: center!important
}

.pop-up-button {
    text-transform: uppercase;
    text-decoration: none!important;
    padding: 10px 20%!important;
    font-size: 20px!important;
    border-radius: 5px;
    background-color: #71c341;
    color: #fff!important;
    border: medium;
    cursor: pointer;
    outline: medium
}

.pop-up-window::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    top: -55px;
    left: 0;
    right: 0;
    margin: 0 auto!important;
    background-color: #71c341;
    border-radius: 50%;
    animation: .5s ease .6s normal backwards 1 running pop-up-appear-before
}

.pop-up-window::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto!important;
    border-width: medium medium 4px 4px;
    border-style: none none solid solid;
    border-color: currentcolor currentcolor #fff #fff;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -o-border-image: none;
    border-image: none;
    transform: rotate(-45deg);
    transition: opacity 1s ease 0s;
    animation: .5s ease .6s normal backwards 1 running pop-up-appear-after
}

@keyframes pop-up-appear {
    0% {
        transform: translate(-50%,-2000px)
    }

    30% {
        transform: translate(-50%,100px)
    }

    100% {
        transform: translate(-50%,-50%)
    }
}

@keyframes pop-up-appear-before {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes pop-up-appear-after {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

#order {
    display: none
}

.order__title {
    color: #000;
    font-size: 20px!important;
    font-weight: 700;
    max-width: 224px;
    text-align: end!important;
    margin-bottom: 45px!important
}

.input-roulette {
    width: 260px;
    height: 42px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 4px 4px rgba(255,255,255,.25);
    border: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px!important;
    padding-left: 20px;
    box-sizing: border-box
}

.input-roulette.phone {
    margin-bottom: 55px!important
}

.input-roulette::-moz-placeholder {
    color: #000
}

.input-roulette::placeholder {
    color: #000
}

.submit-roulette {
    height: 32px;
    max-width: 148px;
    width: 100%;
    border-radius: 4px;
    background: #ea1b40;
    box-shadow: 0 0 4.8px 5px rgba(255,255,255,.9);
    color: #fff;
    text-align: center!important;
    font-size: 20px;
    border: none;
    cursor: pointer
}

.order__form {
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: flex-end!important
}

@media screen and (max-width: 600px) {
    .custom__wrapper {
        padding-top:30px!important;
        padding-bottom: 75px!important
    }

    .custom__items {
        padding-left: 0!important
    }

    .custom__wrapper-form {
        background-size: 255px;
        flex-direction: column;
        align-items: center
    }

    .custom__item {
        font-size: 30px!important
    }

    .custom__form {
        background-position-x: 5%
    }

    .order__form {
        align-items: center!important
    }

    .order__title {
        text-align: center!important;
        margin: 0 auto!important;
        margin-bottom: 64px!important;
        max-width: 250px
    }
}

@media all and (max-width: 520px) {
    .close-popup {
        right:0!important
    }
}
